.header {
  background: var(--header-background);
  padding-top: 25px;
}

.header__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: var(--font-active);
}

.header_transparent {
  padding: 24px 0;
}

.header__inner {
  margin-bottom: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  fill: var(--font-active);
}

@media (max-width: 767px) {
  .header {
    background: var(--card-background);
  }
}

@media (max-width: 767px) {
  .header__inner {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--font-card-type);
  }
}

.header__button {
  width: 26px;
  height: 26px;
  padding: 2px !important; /*добавила important т.к. применяются в первую очередь стили button, а не header__menu-button (разные паддинги).*/
  border: none;
  background-color: var(--main-background);
  position: absolute;
  left: 0;
}

.header__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  fill: var(--font-active);
}

@media (min-width: 768px) {
  .header__button {
    display: none;
  }
}
