.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 8px;
    padding: 15px 60px;
    
   
}

.button_primary {
    background-color: var(--primary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    color: #FFFFFF;
}

.button_secondary {
    background-color: var(--secondary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    color: #FFFFFF;
}

.button_alternate {
    color: #495057;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.button:hover {
    cursor: pointer;
}
