.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 8px;
  padding: 15px 60px 14px;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_preview {
  padding: 15px;
}

.button_primary {
  background-color: var(--primary);
  color: var(--main-background);
}

.button_secondary {
  background-color: var(--secondary);
  color: var(--main-background);
}

.button_alternate {
  color: var(--font-card-type);
  border: 1px solid var(--border-color);
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
