.accordion {
    border: 1px solid #ACB5BD;
}

.accordion__summary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
    display: block;

}


.accordion__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}

.accordion > .accordion__summary::webkit-details-marker {
    display: none;
}

.accordion > .accordion__summary {
    list-style: none;
}

