.toggler {
  display: inline-block;
  position: relative;
}

.toggler__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.toggler__state {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.toggler__control {
  background: var(--main-background);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  height: 28px;
  width: 52px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: left;
}

.toggler__icon {
  fill: var(--font-muted);
}

.toggler__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-card-type);
}

.toggler__input:checked ~ .toggler__state .toggler__control {
  background: var(--primary);
  border-color: var(--primary);
}

.toggler__input:checked ~ .toggler__state .toggler__icon {
  fill: var(--main-background);
  transition: transform 1s ease;
  transform: translateX(26px);
}

.toggler__input:visited ~ .toggler__state .toggler__icon {
  /*не знаю, какой селектор поставить вместо visited, но так не работает*/
  fill: var(--font-muted);
  transition: transform 1s ease;
  transform: translateX(-26px);
}

.toggler__input:disabled ~ .toggler__state {
  pointer-events: none;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
  background: var(--font-muted);
}

.toggler__input:disabled ~ .toggler__state .toggler__icon {
  fill: var(--font-muted);
}

.toggler__input:disabled ~ .toggler__state .toggler__title {
  color: var(--font-muted);
}

.toggler__input:focus ~ .toggler__state .toggler__title {
  text-decoration: underline;
}
