.modal {
  display: none;
  background-color: rgba(196, 196, 196, 0.5);
  height: 100%;
  width: 100%;
  flex-grow: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.modal__inner {
  background: var(--main-background);
  border-radius: 8px;
  width: 348px;
  padding: 30px 40px 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__title {
  font-family: 'Inter';
  font-style: normal;
  line-height: 24px;
  font-weight: 600;
  font-size: 20px;
  color: var(--font-active);
  padding-bottom: 14px;
}

.modal__text {
  font-family: 'Inter';
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: var(--font-active);
}

.modal__icon-cross {
  width: 20px;
  height: 20px;
}
