.card {
    width: 354px;
    height: 185px;
    margin: 20px;
    padding: 16px 24px 24px;
    border: 1px solid var(--grey-4);
    border-radius: 8px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
