.card {
  width: 350px;
  height: 367px;
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  display: flex;
}

.card__link {
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
  text-decoration: none;
  display: grid;
  grid-template-rows: auto 31px 57px;
  justify-items: center;
  align-items: center;
  padding: 10px 12px;
}

.card__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: var(--font-active);
}

.card__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-self: flex-start;
}

@media (max-width: 767px) {
  .card {
    height: 210px;
    width: 164px;
    border-radius: 8px;
  }
}
