@import '../../assets/css/reset.css';
@import '../fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Ubuntu:ital@1&display=swap');
@import '../../components/card.css';
@import '../../components/container/container.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/content/preview.css';
@import '../../pages/page.css';
@import '../../components/content/basic.css';
@import '../../components/content/component-view.css';
@import '../../components/content/menu.css';
@import '../../components/content/tabs.css';
@import '../../05-lection3/01-tooltip/tooltip.css';
@import '../../05-lection3/03-calendar/calendar.css';
@import '../../05-lection3/02-modal/modal.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../06-lection4/01-avatar/avatar.css';
@import '../../03-lection1/02-accordion/accordion.css';
@import '../../07-lection5/01-checkbox/checkbox.css';
@import '../../07-lection5/02-radio/radio.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../03-lection1/01-button/button.css';
@import '../../04-lection2/02-skeleton/skeleton.css';
@import '../../components/container/forms.css';
@import '../images/icons-sprite.svg'; /*не забыть убрать?*/

:root {
    --white: #ffffff; /*объявляю декаларативные переменные*/
    --white-2: #e5e5e5;
    --white-3: #f9fafc;
    --black: #212429;
    --pink: #f784ad;
    --purple: #7048e8;
    --blue: #374fc7;
    --red: #f03d3e;
    --grey-1: #f8f9fa;
    --grey-2: #dde2e5;
    --grey-3: #acb5bd;
    --grey-4: #495057;

    --main-background: var(--white-3); /*объявляю семантические переменные*/
    --header-background: var(--white-2);
    --footer-background: var(--white-2);
    --font-active: var(--black);
    --font-muted: var(--grey-3);
    --font-card-type: var(--grey-4);
    --border-color: var(--grey-3);
    --card-background: var(--white);
    --content-background: var(--white-3);
    --primary: var(--blue);
    --secondary: var(--purple);
    --success: var(--blue);
    --error: var(--red);

  }

  html[data-theme-dark] {
      --main-background: var(--black); /*переопределяю семантические переменные*/
      --header-background: var(--black);
      --footer-background: var(--black);
      --font-active: var(--white);
      --font-muted: var(--grey-2);
      --font-card-type: var(--grey-2);
      --border-color: var(--white)
      --card-background: var(--black);
      --content-background: var(--grey-4);
      --primary: var(--blue);
      --secondary: var(--purple);
      --success: var(--blue);
      --error: var(--red);

  }

body {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}
