.skeleton {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 24px 40px 32px 24px;
}

.skeleton__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.skeleton__title {
  flex-shrink: 1;
  flex-basis: 100%;
  margin-left: 16px;
}

.skeleton__line {
  height: 20px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 8px;
  background: var(--font-muted);
  animation: gradient 2s linear reverse infinite;
}

.skeleton__line:last-child {
  margin-bottom: 0px;
}

.skeleton__line_small {
  max-width: 40%;
}

.skeleton__line_middle {
  max-width: 50%;
}

.skeleton__circle {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--font-muted);
}

@keyframes gradient {
  from {
    background: var(--font-muted);
  }
  to {
    background: linear-gradient(
      90deg,
      var(--font-muted),
      var(--main-background)
    );
  }
}
