.basic {
  background-color: var(--main-background);
}

.basic__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

@media (max-width: 767px) {
  .basic__container {
    display: block;
  }
}
