.basic {
    background-color: #F9FAFC;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid (--grey-2);
    padding: 67px 0px 0px;
}

.basic__container {
    padding: 36px 165px 0px 165px;
    display: grid;
    grid-template-columns: 25fr 75fr;

}