.component-view {
  background: var(--main-background);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  padding-top: 32px;
  padding-left: 48px;

  display: flex;
  flex-direction: column;
}

.component-view__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--font-card-type);
  padding-bottom: 24px;
}

.component-view__component-card {
  /*margin: 70px;*/
  height: fit-content;
  position: relative;
}

.component-view__component-code {
  color: var(--font-active);
}

@media (max-width: 767px) {
  .component-view__title {
    .component-view__title {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
