.preview {
  background-color: var(--main-background);

  border-bottom: 1px solid var(--border-color);
  padding: 0px 0px 204px;
} /*не забыть удалить*/

.preview__cards-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
} /*не забыть удалить*/

@media (max-width: 767px) {
  .preview__cards-list {
    gap: 16px;
  }
} /*не забыть удалить*/
