.mobile-menu {
    position:fixed;
    background: #F9FAFC;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: transform 250ms linear;
}

.mobile-menu[data-open] {
    transform: none;
}

