@import 'variables.scss';
@import 'mixines.scss';

.menu {
  display: grid;
  grid-template-rows: 42px repeat(9, 22px) 52px 1fr;
  gap: 4px;
  align-items: center;
  width: 100%;
  background: var(--preview-background);
  @media ($media-mob) {
    display: none;
  }

  &__title {
    @include font('Inter', normal, 400, 20px);
    line-height: 26px;
    color: var(--font-active);
  }

  &__item {
    @include font('Inter', normal, 400, 14px);
    line-height: 22px;
    color: var(--font-active);
    text-decoration: none;
  }

  &__item_active {
    @include font('Inter', normal, 400, 14px);
    line-height: 22px;
    color: var(--red);
  }

  &_mobile {
    @media ($media-mob) {
      display: grid;
      gap: 16px;
      position: absolute;
      left: 16px;
      padding-top: 18px;
    }
  }

  &_mobile &__title {
    color: var(--font-muted);
  }
}
