.form-group {
    display: inline-flex;
    gap: 5px;
    color: var(--grey-2);
}

.form-group__control {
    height: 56px; /*как правило, формы ввода везде одного размера, поэтому задаю точные height и width */ 
    width: 356px;
    display: inline-flex;
    position: relative;
}

.form-group__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.form-group__input {
    flex-grow: 1;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.form-group__input_invalid {
    flex-grow: 1;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #F03D3E;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}

.form-group_success__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 319px;
    fill: var(--blue);
}

.form-group_invalid__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 319px;
    fill: #F03D3E;
}

.form-group__input:focus {
    border: 1px solid var(--blue) !important;
}
